/* global style start
	============================================================================================ */

body {
	color: $text-color;
  font-family: $text-font;
  font-size: 15px;
	font-weight: 400;
  line-height: 1.667;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a:hover{
  text-decoration: none;
}

button{
  cursor: pointer;

  &:focus{
    outline: 0;
    box-shadow: none;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $title-font;
	color: $title-color;
	line-height: 1.25;
}

h1,
.h1 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;

  @media(min-width: 800px){
    font-size: 60px;
  }
}
h2,
.h2 {
  font-size: 28px;
  font-weight: 700;

  @media(min-width: 1000px){
    font-size: 36px;
  }
}
h3,.h3{
  font-size: 18px;
  font-weight: 700;

  @media(min-width: 1000px){
    font-size: 20px;
  }
}

%section-margin{
  margin: 40px 0;

  @media(min-width: 1000px){
    margin: 120px 0;
  }
  &__large{
    margin: 45px 0;

    @media(min-width: 1200px){
      margin: 130px 0;
    }
  }
  &__small{
    padding: 30px 0;

    @media(min-width: 1000px){
      padding: 100px 0;
    }
  }
}

.pb-65px{
  padding-bottom: 65px;
}
.mb-60px{
  margin-bottom: 60px;
}

.bg-albaster{
  background-color: #f7f7f7;
}
